@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cpcm_body{
    /* margin: 20px; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Outfit', sans-serif; */
    background: #ffffff;
}

ul, li {
    padding: 0;
    list-style-type: none;
    list-style: none;

    color: #787878;
}

h1,h2,h3 {
    color: #2e2f2f;;
}

p {
    color: #707070;
}

hr {
    height: 1px;
    border: 0;
    margin: 1em 0;
    grid-column: 1/4;
    padding: 0;
    width: 100%;
    background-image:linear-gradient(to right, #8ac6ff1e, #8ac6ffe7, #8ac6ff1e);
}

.cpcm_grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1600px;
    margin: 0px auto;
}

/* BANER */
.cpcm_company_banner{
    position: relative;
    grid-column: span 3;
}

.cpcm_banner {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* NAVBAR */
nav {
    height: 72px;
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    align-items: center;
    padding: 0px 40px;
}

.cpcm_company-logo {
    background: transparent;
}

.cpcm_menu {
    grid-column: 3;
}

.cpcm_menu-content {
    display: flex;
    position: relative;
    flex-direction: row;
}

nav ul li {
    margin: 0 12px;
}

nav ul li a {
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgb(25, 25, 25);
    font-weight: 700;
    text-transform: uppercase;
}

nav li a:hover {        
    /* color: #0374ff; */
    color: #0a74f6;;
}

main {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    align-items: center;
    justify-items: center;
    gap: 30px 58px;

    margin: 50px;
}

.cpcm_part-image {
    grid-column: 1/3;
    max-width: 620px;
}

.cpcm_part-image > img {
  width: 100%;
  height: auto;
  object-fit: contain;
  /* aspect-ratio: 4 / 3; */
}

.cpcm_part-description {    
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.cpcm_part-description-header h1 {
    color: #000000;
    font-size: 32px;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 12px;
}

.cpcm_part-description-header > p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 24px;
}

.cpcm_part-description-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 72px;  
}

.cpcm_part-description-content p {
    line-height: 1.5;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.cpcm_part-description-content h2 {
    font-weight: 460;
    font-size: 19px;
    text-transform: capitalize;
}

.cpcm_ean-partStock-barcode {
    font-family: 'Libre Barcode 39 Extended Text';
    font-size: 43px;
    color: #494949;
    align-self: center;
    line-height: 1.2;
}

.part-description-footer{
    display: block;
    width: 100%;
    grid-column: 3/4;
    margin-top: 10px;
}

.cpcm_eBay-button-partsByVehicleStock{
    display: block;
    position: relative;
    height: 52px;
    width: 100%;
    /* background-color: #0aa7f6; */
    background-color: #0a74f6;
    /* background-color: #35aef4; */
    border-radius: 8px;
    color: #ffffff;

    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 52px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    align-self:flex-start;
}

.cpcm_eBay-button-partsByVehicleStock:hover{
    border: solid 2px #0a74f6;
    /* border: solid 2px #0aa7f6; */
    background-color: #ffffff;
    /* color: #0093e8; */
    color: #0a74f6
}

/* FITMENT */
.cpcm_part-fitment-container {
    grid-column: span 3;
    width: 100%;
}

.cpcm_part-fitment-content > h1 {
    color: #1b1b1b;
    font-size: 24px;
    letter-spacing: 0.4px;
    line-height: 50px;
    font-weight: 600;
    text-transform: capitalize;
}

.cpcm_part-fitment-content > ul {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    font-weight: 500;
}

.cpcm_part-fitment-content li{
    list-style: inside;
    list-style-type:disc;
}

li::marker {
  color: #0a74f6;
}


/* SHIPPING RETURN CONTACT */
.cpcm_term-conditions-container{
    grid-column: span 3;
}

.cpcm_content-terms_conditions h1{
    color: #1b1b1b;
    font-size: 24px;
    letter-spacing: 0.4px;
    line-height: 50px;
    font-weight: 600;
    text-transform: capitalize;
}

.cpcm_content-terms_conditions p{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 28px;
    font-weight: 500;
    text-align: justify;
}

.cpcm_button-contactInfo{
    display: block;
    position: relative;
    height: 52px;
    width: auto;
    background-color: #0a74f6;

    border-radius: 11px;
    color: #ffffff;

    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 55px;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
}

.cpcm_button-contactInfo:hover{
    border: solid 2px #0a74f6;
    background-color: #ffffff;
    color: #0a74f6;
}

/* FOOTER */
.cpcm_contacts-container {
    grid-column: span 3;    
    background-color:#000;
}

.cpcm_content-contacts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;

    padding: 4%;
}

.cpcm_content-contacts h1 {
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 20px; 
}

.cpcm_content-contacts p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #bcbcbc;
    font-weight: 500;
    font-family: "Nunito Sans";
}

/* RESPONSIVE */
/* lg */
@media screen and (max-width: 980px) {
    .cpcm_part-image {
        grid-column: 1/4;
    }

    .cpcm_part-description {    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1/4;
        gap: 40px;
        height: auto;

        padding-top: 40px;
    }

    .cpcm_part-description-content {
        gap: 20px 30px;
    }

    .part-description-footer{
        grid-column: 1/4;
    }  
}

/* md */
@media screen and (max-width: 768px) {

    .cpcm_part-description {    
        display: block;
        justify-content:center;
    }
    
    .cpcm_part-description-content {
        gap: 10px 50px;
    }

    .cpcm_content-contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 4%;
    }

    .cpcm_businessname-content{
        grid-row: span 2;  
    }

    .cpcm_businesslocation-content{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .cpcm_businesshours-content{
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

/* sm */
@media screen and (max-width: 640px) {
  
    nav{
        display: none;
    }
    
    .cpcm_content-contacts { 
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .cpcm_businessname-content{
        text-align: center;
    }

    .cpcm_businesshours-content{ 
        margin-top: 10px;
    }
}

/* xs */
@media screen and (max-width: 475px) {

    .cpcm_grid-container {
        display: block;
    }

    nav{
        display: none;
    }

    main{
        margin: 20px;
    }
}